{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>
            bla bla bla bla

        </h1>
        <p>Lorem ipsum para bellum toussa Lorem ipsum para bellum toussa Lorem ipsum para bellum toussa Lorem ipsum para bellum toussa
            Lorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussa
            Lorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussa
            Lorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussa
            Lorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussa
            Lorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussa
            Lorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussaLorem ipsum para bellum toussa
            Lorem ipsum para bellum toussacomp</p>
    </div>

{% endblock %}